<?xml version="1.0" ?>
<config>

    <modules>
        <TM_GaPluginEvents>
            <version>0.9.0</version>
        </TM_GaPluginEvents>
    </modules>

    <global>
        <blocks>
            <tm_gapluginevents>
                <class>TM_GaPluginEvents_Block</class>
            </tm_gapluginevents>
        </blocks>
        <helpers>
            <tm_gapluginevents>
                <class>TM_GaPluginEvents_Helper</class>
            </tm_gapluginevents>
        </helpers>
    </global>

    <frontend>
        <routers>
            <tm_gapluginevents>
                <use>standard</use>
                <args>
                    <module>TM_GaPluginEvents</module>
                    <frontName>gaevents</frontName>
                </args>
            </tm_gapluginevents>
        </routers>
        <layout>
            <updates>
                <tm_gapluginevents module="TM_GaPluginEvents">
                    <file>tm/gapluginevents.xml</file>
                </tm_gapluginevents>
            </updates>
        </layout>
    </frontend>

    <default>
        <tm_googleanalytics>
            <events_listen>
                <addToCart>1</addToCart>
                <addToCompare>1</addToCompare>
                <addToWishlist>1</addToWishlist>
                <newsletterSubscribe>1</newsletterSubscribe>
                <contactUs>1</contactUs>
                <checkout>1</checkout>
            </events_listen>
        </tm_googleanalytics>
    </default>

</config>
